{:paths   ["src" "resources"]

 :deps    {org.clojure/clojure                      {:mvn/version "1.11.1"}
           org.clojure/tools.logging                {:mvn/version "1.2.4"}
           ch.qos.logback/logback-classic           {:mvn/version "1.4.6"}


           ca.uhn.hapi.fhir/hapi-fhir-base          {:mvn/version "6.4.4"}
           ca.uhn.hapi.fhir/hapi-fhir-server        {:mvn/version "6.4.4"}
           ca.uhn.hapi.fhir/hapi-fhir-structures-r4 {:mvn/version "6.4.4"}

           com.eldrix/hermes                        {:mvn/version "1.2.1108"}
           io.pedestal/pedestal.jetty               {:mvn/version "0.5.10"}}

 :aliases {:build {:deps       {io.github.clojure/tools.build          {:git/tag "v0.9.4" :git/sha "76b78fe"}
                                slipset/deps-deploy                    {:mvn/version "RELEASE"}
                                io.github.borkdude/gh-release-artifact {:git/sha "4a9a74f0e50e897c45df8cc70684360eb30fce80"}}
                   :ns-default build}

           :run
           {:main-opts ["-m" "com.eldrix.hades.core"]}

           :socket
           {:jvm-opts ["-Dclojure.server.repl={:port,50505,:accept,clojure.core.server/repl}"]}

           :test
           {:extra-paths ["test" "test/resources"]
            :extra-deps  {com.cognitect/test-runner
                          {:git/url "https://github.com/cognitect-labs/test-runner.git"
                           :sha     "7284cda41fb9edc0f3bc6b6185cfb7138fc8a023"}}
            :main-opts   ["-e" "(compile,'com.eldrix.hades.core)"
                          "-m" "cognitect.test-runner"
                          "-d" "test"]}

           :outdated
           {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
            :main-opts  ["-m" "antq.core"]}

           :upgrade
           {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
            :main-opts  ["-m" "antq.core" "--upgrade"]}

           :check
           {:extra-deps {athos/clj-check
                         {:git/url "https://github.com/athos/clj-check.git"
                          :sha     "518d5a1cbfcd7c952f548e6dbfcb9a4a5faf9062"}}
            :main-opts  ["-m" "clj-check.check"]}

           :test/cloverage
           {:extra-paths ["test"]
            :extra-deps  {cloverage/cloverage {:mvn/version "RELEASE"}}
            :main-opts   ["-m" "cloverage.coverage"
                          "--src-ns-path" "src"
                          "--test-ns-path" "test"]
            :exec-fn     cloverage.coverage/run-project
            :exec-args   {:src-ns-path  ["src"]
                          :test-ns-path ["test"]}}

           :lint/kondo
           {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
            :main-opts  ["-m" "clj-kondo.main" "--lint" "src"]}

           :lint/eastwood
           {:main-opts  ["-m" "eastwood.lint" {:source-paths ["src"]}]
            :extra-deps {jonase/eastwood {:mvn/version "RELEASE"}}}}}

