<configuration>

    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="warn">
        <appender-ref ref="STDERR" />
    </root>

    <logger name="com.eldrix" level="info"/>
    <logger name="org.eclipse.jetty.server.Server" level="info"/>

</configuration>