<configuration>

    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>%date{ISO8601} %-5level [%thread] %logger{36} %mdc - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="warn">
        <appender-ref ref="STDERR" />
    </root>

    <logger name="com.eldrix" level="info"/>
    <logger name="org.eclipse.jetty.server.Server" level="info"/>

    <!-- These tests intentionally feed synthetic exceptions into the
         catch-all HTTP error interceptor and assert the mapped responses. -->
    <logger name="com.eldrix.hades.impl.http" level="off"/>

</configuration>
